<div class="media mb-4">
    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
    <div class="media-body">
        <label><%= user.name %> <%= user.lastname %></label>
        <a href="<%= user_tweets_path(user.username) %>" title="Tweets @<%= user.username %>">(@<%= user.username %>)</a>
        <% if @unfollow_users && @unfollow_users.include?(user.email) && (user.id != current_user.id)%>
            <a href="<%= follow_user_path(user.username) %>" title="Follow @<%= user.username %>?">[Follow]</a>
        <% end %>
    </div>
</div>