<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-lg-8">
            <!-- Title -->
            <h6 class="mt-4"><a href="<%= user_tweets_path(@user.username) %>">@<%= @user.username%>'s</a> <%= (params[:followship_type].to_s == '1') ? 'Followers' : 'Followings' %></h6>
            
            <hr>

            <%= render 'users', users: @followship_users %>

            <div class="media mb-4">
                <div class="media-body">
                    <%= will_paginate @followship_users %>
                </div>
            </div>

        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->