<div class="media mb-4">
    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
    <div class="media-body">
        <% user = tweet.user %>
        <label><b><%= user.name %> <%= user.lastname %></b>, @<%= user.username %> - <%= tweet.updated_at.strftime("%Y/%m/%d %H:%M:%S:%L") %></label>
        <br>
        <p><%= link_to "#{tweet.tweet_content}", tweet_path(tweet) %> &nbsp;&nbsp;</p>
        <% if current_user.id == tweet.user_id %>
            <%= link_to 'Edit', edit_tweet_path(tweet) %> &nbsp;&nbsp;
            <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
    </div>
</div>